<a
    href="javascript:void(0)"
    class="btn btn-success"
    data-action="{{ path('app_employee_create') }}"
    onclick="toggleCreateEmployeeModal(this)"
>
    <i class="material-icons">&#xE147;</i>
    <span>Add New Employee</span>
</a>