{% if selectAll is defined and selectAll %}
    <span class="custom-checkbox">
        <input type="checkbox" id="selectAll" />
    <label for="selectAll"></label>
</span>
{% else %}
    <span class="custom-checkbox">
        <input type="checkbox" id="checkbox-{{employee.id}}" name="options[]" value="1">
    <label for="checkbox-{{employee.id}}"></label>
</span>
{% endif %}