{% if showInTop is defined and showInTop %}
    <a
        href="javascript:void(0)"
        class="btn btn-danger"
    >
        <i class="material-icons">&#xE15C;</i>
        <span>Delete</span>
    </a>
{% else %}
    <a
        href="javascript:void(0)"
        class="delete"
        onclick="toggleDeleteEmployeeModal(
            '{{ path('app_employee_delete', {id: employee.id}) }}',
            '{{employee.name}}'
        )"
    >
        <i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i>
    </a>
{% endif %}


