<a
    href="javascript:void(0)"
    class="edit"
    data-employee-id="{{ employee.id }}"
    data-employee-name="{{ employee.name }}"
    data-employee-email="{{ employee.email }}"
    data-employee-phone="{{ employee.phone }}"
    data-employee-address="{{ employee.address }}"
    data-action="{{ path('app_employee_edit', {id: employee.id}) }}"
    onclick="toggleUpdateEmployeeModal(this)"
>
    <i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i>
</a>