{# read and display just one flash message type #}
{% for message in app.flashes('error') %}
    <div class="alert alert-danger alert-dismissible" role="alert" id="error-message">
        {{ message|striptags('<strong>')|raw }}
    </div>
{% endfor %}
<script>
    $('#error-message').fadeOut(5000, function (){
        $('#error-message').remove();
    });
</script>