{# read and display just one flash message type #}
{% for message in app.flashes('success') %}
    <div class="alert alert-success alert-dismissible" role="alert" id="success-message">
        {{ message|striptags('<strong>')|raw }}
    </div>
{% endfor %}

<script>
    $('#success-message').fadeOut(5000, function (){
        $('#success-message').remove();
    });
</script>