{% extends 'base.html.twig' %}

{% block title %} Employees {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/css/employee/index.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/employee/index.js') }}"></script>
    <script src="{{ asset('/js/employee/axios.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-xs-6">
                        <h2>Manage <b>Employees</b></h2>
                    </div>
                    <div class="col-xs-6">
                        {% include 'employee/actions/_add_action_button.html.twig' %}
                        {% include 'employee/actions/_delete_action_button.html.twig' with {showInTop: true} %}
                    </div>
                </div>
            </div>

            {% include 'employee/messages/_success_message.html.twig' %}
            {% include 'employee/messages/_error_message.html.twig' %}

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            {% include 'employee/actions/_checkbox_action_button.html.twig' with {selectAll: true} %}
                        </th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in employees %}
                        <tr>
                            <td>
                                {% include 'employee/actions/_checkbox_action_button.html.twig' %}
                            </td>
                            <td>{{ employee.name }}</td>
                            <td>{{ employee.email }}</td>
                            <td>{{ employee.address }}</td>
                            <td>{{ employee.phone }}</td>
                            <td>
                                {% include 'employee/actions/_edit_action_button.html.twig' %}
                                {% include 'employee/actions/_delete_action_button.html.twig' %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% include 'globals/_paginator.html.twig' %}
        </div>
    </div>

    {% include 'employee/modals/_create_update_employee_form.html.twig' %}
    {% include 'employee/modals/_delete_employee_form.html.twig' %}
{% endblock %}