<!-- Edit Modal HTML -->
<div id="createUpdateEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="create-employee">
                {{ form_widget(form._token) }}
                <div class="modal-header">
                    <h4 class="modal-title">Add Employee</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input name="employee[name]" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input name="employee[email]" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea name="employee[address]" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input name="employee[phone]" type="text" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    const ACTION_UPDATE = 'UPDATE';
    const ACTION_CREATE = 'CREATE';

    const createForm = $('form#create-employee');
    const createUpdateEmployeeModal = $('#createUpdateEmployeeModal');
    const modalTitle = $('#createUpdateEmployeeModal .modal-title');
    const submitButton = $('#createUpdateEmployeeModal input.btn-success');

    const resetErrors = () => ($('.invalid-feedback').remove());

    const clearInputs = () => {
        createUpdateEmployeeModal.find('.modal-body input, .modal-body textarea').val('');
    }

    const showErrorMessage = (field, message) => {
        const fieldName = `employee[${field}]`;
        const elMessage = $(`<div class="invalid-feedback">${message}.</div>`);

        $(`input[name="${fieldName}"], textarea[name="${fieldName}"]`).after(elMessage);
    };

    const fillFormInput = (fieldName, fieldValue) => {
        createUpdateEmployeeModal.find(`.modal-body input[name="employee[${fieldName}]"]`).val(fieldValue);
        createUpdateEmployeeModal.find(`.modal-body textarea[name="employee[${fieldName}]"]`).val(fieldValue);
    }

    const setModalTitle = (title) => (modalTitle.empty().text(title));

    const setModalSubmitButtonName = (action) => {
        submitButton.empty().val(action.charAt(0).toUpperCase() + action.slice(1).toLowerCase());
        submitButton.attr('data-action', action);
    };


    const toggleUpdateEmployeeModal = (element) => {
        const employee = {
            id : $(element).data('employee-id'),
            name : $(element).data('employee-name'),
            email : $(element).data('employee-email'),
            phone : $(element).data('employee-phone'),
            address : $(element).data('employee-address'),
        }

        for (let field in employee) {
            fillFormInput(field, employee[field]);
        }

        setModalTitle('Update Employee');
        setModalSubmitButtonName(ACTION_UPDATE);

        createForm.attr('action', $(element).data('action'));

        createUpdateEmployeeModal.modal('show');
    }

    const toggleCreateEmployeeModal = (element) => {
        setModalTitle('Add Employee');

        setModalSubmitButtonName(ACTION_CREATE);

        createForm.attr('action', $(element).data('action'));

        createUpdateEmployeeModal.modal('show');
    }

    createUpdateEmployeeModal.on('hide.bs.modal', function() {
        clearInputs();
        resetErrors();
    });

    createForm.submit(function (event) {
        event.preventDefault();
        resetErrors();

        const action = submitButton.attr('data-action');

        if (action === ACTION_CREATE) {
            createEmployeeRequest(createForm.serialize(), createForm.attr('action'))
                .then(() =>  window.location.reload())
                .catch((errors) => {
                    for (let field in errors) {
                        showErrorMessage(field, errors[field][0]);
                    }
                })
        } else {
            updateEmployeeRequest(createForm.serialize(), createForm.attr('action'))
                .then(() =>  window.location.reload())
                .catch((errors) => {
                    for (let field in errors) {
                        showErrorMessage(field, errors[field][0]);
                    }
                })
        }
    });

</script>