<!-- Delete Modal HTML -->
<div id="deleteEmployeeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="modal-delete-form" action="">
                <input type="hidden" name="_token" value="{{ csrf_token('delete-employee') }}">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Employee</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete <strong id="modal-employee-name"></strong> employee?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const deleteModalElement = $('#deleteEmployeeModal');
    const modalEmployeeNameElement = $('#modal-employee-name');
    const deleteForm = $('#modal-delete-form');

    const toggleDeleteEmployeeModal = (deleteEndpoint, employeeName) => {
        modalEmployeeNameElement.empty().text(employeeName)
        deleteForm.attr('action', `${deleteEndpoint}`);

        deleteModalElement.modal('show');
    }

    deleteForm.submit(function (event) {
        event.preventDefault();

        deleteEmployeeRequest(deleteForm.serialize(), deleteForm.attr('action'))
            .then(() => window.location.reload())
            .finally(() => deleteModalElement.modal('hide'));
    });

</script>